<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To-Do List</title>
    <link rel="stylesheet" href="./styles/styles.css">
  </head>
  <body>
    {{#if error}}
      <div class="error-message">
        {{error}}
      </div>
    {{/if}}
    {{#if user}}
    <div class='container'>
      <nav>
        <ul>
          <li><a href="/user/{{user.username}}">{{user.username}}</a></li>
          <div>
            <li><a href="/">Home</a></li>
            <li><a href="/logout">Logout</a></li>
          </div>
        </ul>
      </nav>
    </div>
    {{/if}}
    {{{body}}}
  </body>
</html>