<div class="center">
<h1>Login</h1>
    <form action="/login" method="post">
        <div>
            <label for ="usernameInput">Username</label>
            <input id = "usernameInput" type ="text" name = "username" />
        </div>
        <div>
            <label for = "passwordInput">Password</label>
            <input id = "passwordInput" type ="password" name = "password"/>
        </div>
        <button type="submit">Login</button>
    </form>
    <a href = "/register">Create Account</a>
</div>