<div class="center">
<h1>Create an Account</h1>
    <form action="/register" method="post">
        <div>
            <label for ="usernameInput">Username</label>
            <input id = "usernameInput" type ="text" name = "username"  />
        </div>
        <div>
            <label for = "passwordInput">Password</label>
            <input id = "passwordInput" type ="password" name = "password"/>
        </div>
        <div>  
            <label for = "confirmPasswordInput">Confirm Password</label>
            <input id = "confirmPasswordInput" type ="password" name = "confirmPassword"/>
        </div>
        <button type="submit">Create account</button>
    </form>
    <a href = "/login">Login</a>
</div>