body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
  color: #333;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  width: 100%;
}

.completed {
  background-color: #bbb; /* Change to the desired darker color */
}

.center {
  text-align: center;
  margin-bottom: 20px;
}

.error-message {
  background-color: #f44336;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  margin-right: 10px;
}

ul {
  margin-bottom: 20px;
  list-style: none;
}

li {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;

}

b {
  font-weight: bold;
}

input[type="text"],
input[type="submit"],
input[type="password"],
button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 10px;
}

input[type="submit"],
button {
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


  